[Unit]
Description={{ item.value.description }}
{% if shared_storage %}
After=docker.service autofs.service data.mount
Requires=docker.service autofs.service data.mount
RequiresMountsFor=/data
ConditionPathIsMountPoint=/data
{% else %}
After=docker.service
Requires=docker.service
{% endif %}

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a {{ item.key }}
ExecStop=/usr/bin/docker stop -t 2 {{ item.key }}

[Install]
WantedBy=multi-user.target
