
[Unit]
Description=Docker-Compose docker-{{ item.container_name|default(item.key) }} Service
# Start docker container dependencies before starting this container
After=docker.service {% if item.value.depends_on is defined %}{% for container in item.value.depends_on %}docker-{{ item.value.container_name|default(item.key) }}.service{% if not loop.last %} {% endif %}{% endfor %}{% endif %}

{% if shared_storage and (item.value.volumes is search(data_mount_root)) %}

# Ensure shared storage is mounted
ConditionPathIsMountPoint={{ data_mount_root }}
Requires={{ data_mount_root | regex_replace('^\\/', '') }}.mount docker.service {% if item.value.depends_on is defined %}{% for container in item.value.depends_on %}docker-{{ item.value.container_name|default(item.key) }}.service{% if not loop.last %} {% endif %}{% endfor %}{% endif %}

{% else %}
# Require shared storage mount and docker container dependencies before starting
Requires=docker.service {% if item.value.depends_on is defined %}{% for container in item.value.depends_on %}docker-{{ item.value.container_name|default(item.key) }}.service{% if not loop.last %} {% endif %}{% endfor %}{% endif %}

{% endif %}


[Service]

Restart=always
{% if project_item.start_delay is defined and project_item.start_delay is number %}
ExecStartPre=/bin/sleep {{ project_item.start_delay | int }}
{% endif %}
ExecStart=/usr/bin/docker start -a {{ item.value.container_name|default(item.key) }}
ExecStop=/usr/bin/docker stop -t 2 {{ item.value.container_name|default(item.key) }}
RestartSec=1min

[Install]
WantedBy=multi-user.target
