[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
{% if shared_storage %}
After=network-online.target docker.socket firewalld.service autofs.service {{ data_mount_root | regex_replace('^\\/', '') }}.mount
Wants=network-online.target
Requires=docker.socket autofs.service {{ data_mount_root | regex_replace('^\\/', '') }}.mount
RequiresMountsFor={{ data_mount_root }}
ConditionPathIsMountPoint={{ data_mount_root }}
{% else %}
After=network-online.target docker.socket firewalld.service
Wants=network-online.target
Requires=docker.socket
{% endif %}